body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.slots {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.slot {
  width: 60px;
  height: 60px;
  margin: 10px;
  line-height: 60px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.free {
  background: green;
}

.occupied {
  background: red;
}

.stats {
  font-size: 18px;
  margin-bottom: 20px;
}
